@model WidgetDemoViewModel
<cd311-page title="Widgets / @Model.WidgetName"></cd311-page>
<div id="@Model.ElementId" class="widget-surface">@Model.WidgetName widget mount point</div>
<pre>@Model.InitializationJson</pre>
<p>
    <a asp-controller="Widgets" asp-action="DataTables">DataTables</a> |
    <a asp-controller="Widgets" asp-action="Calendar">Calendar</a> |
    <a asp-controller="Widgets" asp-action="Charts">Charts</a>
</p>
